@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,300&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    background-image: linear-gradient(#222339,#34366d,#303150,#36385e,#21233f);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
}
html{
    overflow-x: hidden;
}

nav{
    background-image: linear-gradient(#3f405e,#515270);
    margin: 5vh 10vh;
    padding: 15px;
    box-shadow:0px 0px 10px #6e709e;
}
nav ul{
     display: flex;
    justify-content: center;
}
nav ul a{
    background: #7e98ff50;
    padding: 10px;
    border-radius:40px ;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-left: 7vh;
    box-shadow: 0px 0px 12px #6e709e;

}
nav label {
    color:rgb(255, 255, 255);
    display: none;
}
#bar{
    opacity:0%;
    display: none;
}
nav ul a:hover{
    background-color: #3f405e;
    box-shadow: none;
    color:rgba(255, 255, 255, 0.459);
}

.nav2{
    background-image: linear-gradient(#3f405e,#515270);
    margin: 5vh 10vh;
    padding: 15px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    box-shadow:0px 0px 10px #6e709e;
}
.nav2 span{
    color: rgba(255, 255, 255, 0.911);
    text-shadow: 0px 0px 10px #6e709e;
    font-size: 4vh;
    font-weight: bold;
    cursor: pointer;
    margin-left: 40px;
    font-family:monospace;
    border-radius: 40px;
    background-image: linear-gradient(to bottom ,#3f405e,#6163a1,#585874,#515270);
}


.cover{
     background-image: linear-gradient(#3f405e,#515270);
    margin: 5vh 10vh;
    padding: 20px;
    display: flex;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    justify-content: center;
    box-shadow:0px 0px 10px #6e709e;
    outline: 5px solid #6e709e1e;
}


.profil img{
    height: 80px;
    width: 80px;
    border-radius: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 30px #696db1;
}

.prod{
    background-image: linear-gradient(#3f405e,#515270);
    margin: 12vh 10vh;
    min-width: 100px;
    box-shadow: 0px 0px  30px #696db1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius:50px ;
    justify-content: space-evenly;
}

.pr{
     background-image: linear-gradient(to bottom,rgb(94, 96, 146),#5a5c8b,rgb(66, 80, 143),rgb(82, 98, 165));
    border-radius: 50px;
    margin-top: 80px;
    box-shadow:0px 0px 20px #6e708f;
    padding: 30px
   }

.pr img{
    height: 80vh;
    border-radius: 30px;
    margin-top: 30px;
    margin: auto;
    justify-content: center;
    display: none;
}
.pr span{
    font-size: 30px;
    font-weight: bolder;
    color: rgb(214, 214, 214);
    text-shadow: 0px 0px 10px rgb(79, 95, 165);
    display: block;
    padding: 10px;
}
.pr label{
    background-color: transparent;
   margin: 10px;
    font-size: 40px;
    color: rgb(144, 150, 150);
   
}
.pr input{
    display: block;
    opacity: 0%;}

#net:checked
~label .fa-store,#cran:checked
~label .fa-store,#spo:checked
~label .fa-store,#rdp:checked ~ label .fa-store{
    color:rgb(26, 66, 78);
    text-shadow: 0px 0px 7px #5d869e;
}
#neti:checked
~label .fa-receipt,
#crani:checked~label .fa-receipt,
#spoi:checked~label .fa-receipt,
#rdpi:checked~label .fa-receipt{
     color:rgb(26, 66, 78);
    text-shadow: 0px 0px 7px #5d869e;
}
#net:checked
~img,#spo:checked
~img,#cran:checked
~img,#rdp:checked
~img{
    display: none;
}
.head{
    display: none;
}
#net:checked~.head{
    display: block;
}
.info,.infoc,.infos,.infor {
    display: none;

}

#neti:checked~.info,#crani:checked~.infoc,#spoi:checked~.infos,
#rdpi:checked~.infor{
display: block;
}
#neti:checked~


/* colors */
.wt{
color:rgb(255, 251, 251);
}
.bl3{
    color:rgb(216, 253, 167);
}
.bl4{
    color:rgb(26, 66, 78);
}
.cnt{
   text-align: center;
}
.gdb{
    background-image: linear-gradient(to bottom ,#3f405e,#6163a1,#585874,#515270);
}
.mgl{
    margin-left: 15px;
}
/*  my fram work */
.btns{
    border-radius: 40px;
    padding: 40px;
    color: white;
    font-size: 30px;
    font-weight: 900;
    cursor: pointer;
    background-color: #6163a1b2;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(44, 44, 44, 0.219);
    margin-top: 20px;
}
.btnsh:hover{
    background: #5858747c;
    color: rgba(133, 130, 130, 0.397);
}
i{
    font-style: none;
}
.conlbl{
    font-size: 15px;
}
.conlbl2{
 font-size: 25px;
}
.conlbl3{
    font-size: 20px;
}
.mgt10{
    margin-top: 10px;
}
.mgl10{
    margin-left: 10px;
}
.mg10{
    margin: 10px;
}
.bld{
    font-weight: bold;
}
/* my  media */
@media (max-width:1200px){
    nav ul a{
        font-size: 16px;
        margin-left: 4vh;
    }
}
@media (max-width:700px){

nav ul{
    margin-right: 20px;
    flex-direction: column;
    display: none;
}
nav ul a{
margin-top: 10px;
text-align: center;
}
nav label{
    display: flex;
    margin: 10px;
    font-size: 6vh;
    cursor: pointer;
}
#bar{
    display: inline-block;
    opacity: 0%;
}
#bar:checked + ul{
   display: flex;
}
nav label::after{
    content: "Welcome Dear!";
    margin-left: 20px;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.411);
}

}
@media (max-width:700px) {
    .pr img{
    width: 40vh;
    height: 40vh;

}
nav ,.cover,.nav2{
    margin: 4vh 2vh;
    font-size: 18px;

}
#net:checked
~img,#spo:checked
~img,#cran:checked
~img,#rdp:checked
~img{
    display: block;
}

.lblp{
    margin-top: 20px;
    margin-left: 3px;
}
.prod
{margin: 0vh 2vh;
padding: 0px 6px;
justify-content: initial;
background-image: linear-gradient(#36385e,#21233f);
box-shadow: none;
margin-right: 10px;

}
.pr{
    padding: 0px 2px;
    margin-top: 60px;
}
.mg0{
margin-top: 2px;
}
.clear{
    padding: 3px;
    height: 30px;
}
.profil img{
   margin-top: 40px;
}
}
